@define-color bar-bg rgba(33,31,35,0.01);
@define-color main-bg rgba(33,31,35,0.8);
@define-color main-fg rgba(205,170,240,0.8);
@define-color wb-act-bg rgba(184,174,156,0.4);
@define-color wb-act-fg rgba(255,237,204,1);
@define-color wb-hvr-bg rgba(125,105,75,0.4);
@define-color wb-hvr-fg rgba(240,210,170,0.8);
