@define-color bar-bg rgba(13,15,14,0.01);
@define-color main-bg rgba(13,15,14,0.8);
@define-color main-fg rgba(170,240,205,0.8);
@define-color wb-act-bg rgba(232,88,53,0.4);
@define-color wb-act-fg rgba(255,214,204,1);
@define-color wb-hvr-bg rgba(125,106,75,0.4);
@define-color wb-hvr-fg rgba(240,207,170,0.8);
